.body{
  font-family: 'Poppins', sans-serif;
}


.mark .land{
  fill:#ececec;
}

.mark .sphere{
  fill: #fbfbfb;
}

.mark .interiors{
  fill:none;
  stroke: #d9dfe0;
}

.mark .graticules{
  fill:none;
  stroke: #ececec;
}

circle{
  fill: #137b80;
  opacity: 0.3;
}